$red: #d00;
$menugreen: #9fbb43;
$darkgray: #5a5b60;
$menugray: #e4e4e4;
$black: #000;
$lightgray: #a9b0be;
$white: #fff;
$numbergray: #434449;


// Bootstrap Variables
$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

//Import Bootstrap
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

.container {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 60px;
}

.nav-list {
  background-color: $menugray;
  color: $darkgray;
  display: inline-block;
  font-weight: bold;
  list-style: none;
  margin: auto;
  padding: 25px;
  text-decoration: none;

  li {
    border: 1px solid $darkgray;
    padding: 10px;
  }

  .menu {
    color: $lightgray;
    font-size: 12px;
    font-weight: lighter;
    padding: 5px;
  }

  img {
    height: 12px;
    width: 12px;
}

  .my-files,
  .cloud,
  .mail,
  .signout {
    ul {
      list-style: none;
    }
}

  h2 {
    background-color: $darkgray;
    border: 1px solid $darkgray;
    box-shadow: 2px 2px 2px $black; //box-shadow: inset  2px 2px 2px #000;
    color: $white;
    font-size: 14px;
    height: 60px;
    margin: 0;
    padding: 20px;
    text-align: left;
    transition: .5s;

    &:hover {
      background-color: $menugreen;
      content: '';
}
}

  .number {
    background-color: $numbergray;
    border: 1px solid $darkgray;
    border-radius: 25%;
    color: $white;
    font-size: 12px;
    margin: 50px;
    padding: 3px;
    position: relative;
    right: 10px;
    text-align: right;
  }
}

.my-files-menu,
.cloud-menu {
  box-shadow: 2px 2px 2px $black;
  margin: 0;
  padding: 0;
}
